.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
}

.header__items {
    list-style-type: none;
    display: flex;
    color: black;
    justify-content: space-between;
   width: 25%;
}

.header__logo {
    font-weight: bold; 
}

.header__logo--atributte {color: #335576;}

.header__items--hawaii-border{
    color: black; border-bottom: 3px solid #DB7A4E;padding-bottom: 5px;
}

.hero {
    background-color: #FEFAF5;
    padding: 5% 0 5% 0;
    display: flex;
    justify-content: space-around;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
}

.hero-text__title{
    color: #335576;
    width: 50%
}

.hero-text__paragraph {
    font-size: 13px;
    color: #335576;
    font-weight: 500;
    width: 70%
}

.button {
    outline: none;
    background-color: #DB7A4E;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 7px 30px 7px 30px;
    border: none
}

.hero__image {
    height: 300px;
}

.cards-section {
    padding-bottom: 0%;
    background-color: #FFFFFF;
}

.cards-section__text {
   
    color: #335576;
}

.cards-section__cards {
    display: flex;
    padding-bottom: 60px;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-evenly; 
}

.card{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}




.card__image--hawaii {
    background-image: url(/assets/images/hawaii.jpg);
    background-size: cover;border-radius: 5px;  
}

.card__image--iceland {
    background-image: url(/assets/images/iceland.jpg);
    background-size: cover;border-radius: 5px;
}

.card__image--greece {
    background-image: url(/assets/images/greece.jpg);
    background-size: cover; border-radius: 5px;
}

.card__container {
    width: 200px;
    height: 320px;
    display: flex; flex-direction: row-reverse;
    align-items: flex-end;
}

.card__box {
    width: 50%;
    color: #ffffff;
    font-weight: bold;
    display: flex; flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: center;
}


.footer {
    display: flex;
    background-color: #FEFAF5;
    justify-content: space-evenly;
    padding-left: 10%;
    padding-right: 10%;
    height: 192px;
    align-items: center
}


.contact {display: flex;}

.contact__container {
    color: #DB7A4E;
    font-sizE: 10PX
}

.contact__information{
    margin-RIGHT: 20PX;
    font-size: 10px;
    color: #335576;
}





.DAYS {
    display: flex
}


.social {
    display: flex;
}

.HOURSP {
    margin-RIGHT: 20PX;
    font-size: 10px;
    color: #335576;
}



.DAYSSMALL {
    color: #DB7A4E;
    font-sizE: 10PX
}

.DAYSSMALLl {
    display: none;
}

.logos {
    /* margin-top: 35px;  */
    display: flexbox;
}

.sociallogos {
    max-width: 100%;
    height: 20px;
    display: flex;
}

h2 {
    color: #335576;
}