.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
}

.header__menu-items {
    list-style-type: none;
    display: flex;
    color: black;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

nav {
    width: 25%;
}

.header__logo {
    font-weight: bold;
}

.header__logo-link {
    color: #335576;
}

.header__menu-items--current-page {
    color: black;
    border-bottom: .1875rem solid #DB7A4E;
    padding-bottom: .3125rem;
}

.hero-banner {
    background-color: #FEFAF5;
    padding: 5% 0%;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.hero-banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    text-align: left;
}

.hero-banner__slogan {
    color: #335576;
    width: 50%
}

.hero-banner__paragraph {
    font-size: .8125rem;
    color: #335576;
    font-weight: 500;
    width: 80%
}

.button {
    outline: none;
    background-color: #DB7A4E;
    border-radius: .9375rem;
    color: #FFFFFF;
    padding: .4375rem 1.875rem;
    border: none;
    position: relative;
    top: .625rem
}

.hero-banner__image {
    height: 45vh;
}

.cards-section {
    padding-bottom: 0%;
    background-color: #FFFFFF;
}

.cards-section__text {
    color: #335576;
}

.cards-section__cards {
    display: flex;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    justify-content: space-evenly;
}

.card {
    border: .0625rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, 0.2);
    border-radius: .3125rem;
}

.card__image--hawaii {
    background-image: url(/assets/images/hawaii.jpg);
    background-size: cover;
    border-radius: .3125rem;
    width: 18vw;
    height: 50vh;
}

.card__image--iceland {
    background-image: url(/assets/images/iceland.jpg);
    background-size: cover;
    border-radius: .3125rem;
    width: 18vw;
    height: 50vh;
}

.card__image--greece {
    background-image: url(/assets/images/greece.jpg);
    background-size: cover;
    border-radius: .3125rem;
    width: 18vw;
    height: 50vh;
}

.card__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    color: #ffffff;
    font-weight: bold;
    height: 102%;
    width: 95%;
}

.footer {
    display: flex;
    background-color: #FEFAF5;
    justify-content: space-evenly;
    padding: 0% 13%;
    height: 25vh;
    align-items: center
}

.footer__contact {
    display: flex;
}

.footer__email-title {
    color: #DB7A4E;
    font-size: 10PX
}

.footer__email {
    margin-right: 8%;
    font-size: .625rem;
    color: #335576;
}

.footer__operating-hours,
.footer__social {
    display: flex;
    align-items: flex-end;
}

.footer__operating-days {
    color: #DB7A4E;
    font-size: 10PX
}

.footer__operating-time {
    margin-RIGHT: 20PX;
    font-size: .625rem;
    color: #335576;
}

.footer__instagram-link,
.footer__facebook-link,
.footer__twitter-link {
    height: 3vh;
    padding-top: 100%;
}

h2,
h3 {
    color: #335576;
}

.footer__instagram-logo,
.footer__facebook-logo,
.footer__twitter-logo {
    margin-RIGHT: 35PX;
    font-size: .625rem;
    color: #335576;
}

.footer__social-text {
    position: relative;
    bottom: .375rem;
}