.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    flex-direction: row;
}

.header__menu-items {
    list-style-type: none;
    display: flex;
    color: black;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
}

nav {
    width: 25%;
}

.header__logo {
    font-weight: bold;
}

.header__logo-link {
    color: #335576;
}

.header__menu-items--current-page {
    color: black;
    border-bottom: 3px solid #DB7A4E;
    padding-bottom: 5px;
}

.hero-banner {
    background-color: #FEFAF5;
    padding: 5% 0%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.hero-banner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    text-align: left;
}

.hero-banner__slogan {
    color: #335576;
    width: 50%
}

.hero-banner__paragraph {
    font-size: 13px;
    color: #335576;
    font-weight: 500;
    width: 80%
}

.button {
    outline: none;
    background-color: #DB7A4E;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 7px 30px;
    border: none
}

.hero-banner__image {
    height: 45vh;
}

.cards-section {
    padding-bottom: 0%;
    background-color: #FFFFFF;
}

.cards-section__text {

    color: #335576;
}

.cards-section__cards {
    display: flex;
    padding-bottom: 5%;
    padding-left: 13%;
    padding-right: 13%;
    justify-content: space-evenly;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.card__image--hawaii {
    background-image: url(/assets/images/hawaii.jpg);
    background-size: cover;
    border-radius: 5px;
    width: 18vw;
    height: 50vh;
}

.card__image--iceland {
    background-image: url(/assets/images/iceland.jpg);
    background-size: cover;
    border-radius: 5px;
    width: 18vw;
    height: 50vh;
}

.card__image--greece {
    background-image: url(/assets/images/greece.jpg);
    background-size: cover;
    border-radius: 5px;
    width: 18vw;
    height: 50vh;

}

.card__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    color: #ffffff;
    font-weight: bold;
    height: 102%;
    width: 95%;
}

.footer {
    display: flex;
    background-color: #FEFAF5;
    justify-content: space-evenly;
    padding: 0% 12%;
    height: 25vh;
    align-items: center
}




.contact {
    display: flex;
}

.contact__container {
    color: #DB7A4E;
    font-size: 10PX
}

.contact__information {
    margin-right: 8%;
    font-size: 10px;
    color: #335576;
}

.DAYS {
    display: flex;
    align-items: flex-end;
}

.HOURSP {
    margin-RIGHT: 20PX;
    font-size: 10px;
    color: #335576;
}

.DAYSSMALL {
    color: #DB7A4E;
    font-size: 10PX
}

.DAYSSMALLl {
    display: none;
}

.sociallogos {
    
    height: 3vh;
    margin-top: 100%;
}

h2 {
    color: #335576;
}