.navigation {
    background-color: #FFFFFF;
    display: flex;
}

.logo {
    color: #335576;
    font-weight: bold;
    margin-left: 100px;
    margin-right: 450px;
    
}

.nav {
    list-style-type: none;
    display: flex;
    padding-left: 100px;
}

.nav_item {
    text-decoration: none;
    color: black;
    
}

li{justify-content: flex-end;width: 80px;}

.header {
    background-color: #FEFAF5;
    padding: 70px 0 70px 0;
}

.texthead {
    color: #335576
}

.textparagraph {
    font-size: 13px;
    color: #335576;
    font-weight: 500
}

.header {
    display: flex;
}

.block {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 500px;
}

.button { outline: none;
    background-color: #DB7A4E;
    border-radius: 15px;
    color: #FFFFFF;
    padding: 5px 25px 5px 25px;
    outline: none;
    margin-top: 20px;
    border-color:#FEFAF5
}

.heroimage {
    height: 300px;
    margin-left: 200px
}

.section {
    background-color: #FEFAF5;
    

}

.textmiddle {margin-left: 100px;color: #335576;}



.cards {display: flex; margin-left: 225px ;}

/* .hawaiicard {background-image: url(/assets/images/hawaii.jpg); background-size: 200px 300px; background-repeat: no-repeat;
width: 260px; border-color: black;border-width: 1.875rem;} */

.hawaiitext : {background-image: url(/assets/images/hawaii.jpg)}




 /* .nav_item {
    padding-bottom: 281px;
    padding-top: 0px;
    padding-right: 100px;
    padding-left: 100px;
} */
/* 
.nav_item_text {
    padding: 10px;    text-decoration: none; color: #FFFFFF;} */



    .FOOter {display: flex;margin-left: 230PX;margin: 0 auto;;background-color: #FEFAF5;}
    .HOURS{display: flexbox;margin-left: 100PX; }
    .HOURSP {margin-RIGHT: 20PX;margin-bottom: 10PX;}
.DAYS{display: flex }
.DAYSSMALL {color: #DB7A4E;font-sizE: 10PX}
.DAYSSMALLl {display: none;}